@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans&family=Playfair+Display&family=Roboto+Slab:wght@400;800&display=swap');
html,body{
    box-sizing: border-box;
    margin:0%;
    padding:0%;
    width: 100%;
    background-color:#6887adff;
    /* font-family: 'Fira Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif; */
font-family: 'Roboto Slab', serif;
}

.header1{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo1{
    color:#fcdfc0ff;
    transition: transform 0.4s ease-in-out;
}
.logo1:hover {
    transform: rotate(360deg);
  }
.navbar {
            /* background-color: #333; */
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
.navbar a {
        float: left;
        display: block;
        color:#fcdfc0ff;
        text-align: center;
        padding:0px 18px;
        text-decoration: none;
}

        /* Change the color of links on hover */
.navbar a:hover {
    background-color: #fc97a2ff;
    border-radius: 25px;
    color: black;
}
.myButton {
    background-color: #d45f8aff;
    color: #fcdfc0ff;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.myButton:hover{
    background-color: #adffffff;
    color: #253470ff;
    font-weight: 700;
} 
.partition1{
    width: 74%; 
    margin: 0 auto; 
    border-bottom: 2px solid black; 
}

/* this is part 2 */
.pagepart1{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.introwords{
    color: #fcdfc0ff;
    font-size: 7vw;
}
.mywords{
    color: #e8e9ebff;
    font-size: 6vw;
}
.photodisp {
    display: flex;
    justify-content: space-between;

  }
.photodisp img {
    margin-left:-5px;
    padding: 50px 20px;
    background-position: center;
    object-fit: cover;
    object-position: center;
    /* flex: 1 0 21%; 
  margin: 1%;
  max-width: 250px;
  height: auto; */
    }
.imageinfo{
    top: -20px;
    padding: 40px;
        position: relative;
        text-align: center;
        flex: 0 0 auto;
        margin: 1%;
         max-width: 250px;
         height: auto;
}

.text1{
    position: absolute;
    bottom: 120px;
    left: 65px;
    color: #FFC436;
    font-size: 2rem;
    font-weight: 700;
}

/* page 2 starts from here */
.page2{
    margin-top: -80px;
    height: 700px;
    width: 100%;
   
}
.header2{
    color: #e8e9ebff;
    text-align: center;
    font-size: 4.5rem;
}

.serviceimg1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.serviceimg1 img{
    padding: 50px 15px;
    background-position: center;
    object-fit: cover;
    object-position: center;
}
.serviceimage{
position: relative;
}
.text2{
    position: absolute;
    top: 380px;
    left: 40px;
    color: #FFC436;
    font-size: 2rem;
    font-weight: 700;
}
.text3{
    position: absolute;
    top: 380px;
    left:30px;
    color: #FFC436;
    font-size: 2rem;
    font-weight: 700;
}
.text4{
    position: absolute;
    top: 380px;
    left:40px;
    color: #FFC436;
    font-size: 2rem;
    font-weight: 700;
}
.serviceimg2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.serviceimg2 img{
    padding: 50px 15px;
    background-position: center;
    object-fit: cover;
    object-position: center;
}
.text5{
    position: absolute;
    top: 350px;
    left:40px;
    color: #FFC436;
    font-size: 2rem;
    font-weight: 700;
}
.text6{
    position: absolute;
    top: 300px;
    left:40px;
    color: #FFC436;
    font-size: 2rem;
    font-weight: 700;
}
.text7{
    position: absolute;
    top: 300px;
    left:40px;
    color: #FFC436;
    font-size: 2rem;
    font-weight: 700;
}


.page3{
    margin-top: 350px;
    /* background-color: #FFC436; */
    height: 550px;
    width: 100%;
}
.header3{
    color: #e8e9ebff;
    text-align: center;
    font-size: 4.5rem;
}
.page3 .part1{
    margin-top: 25px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page3 .part2{
    margin-top: 25px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box1{
    position: relative;
    margin-top: 10px;
    height: 150px;
    width:30%;
    background-color: #FFECD6;
}
.box1 img{
    position: absolute;
    top: -50px;
    left: 25px;
    max-width: 35%;
  height: auto;
}
.responsive-image {
    max-width: 35%;
    height: auto;
  }
.box1 .description{
    position: absolute;
    top: 80px;
    margin-left: 20px;
    font-size: 2vw;
    /* color: #A367B1; */
}
.box1:hover{
    transition: 0.4s;
    transform: scale(1.1);
    background-color: #E26EE5; 
    color: #161A30;
}
